<h3>
    <i class="bi bi-key"></i>
    Change Password
</h3>

<hr>

<div class="row">


<div class="col-md-6">

    <div class="card">

        <div class="card-body">

            <h5 class="card-title mb-3">
                Change your password
            </h5>

            <div class="mb-3">

                <label for="oldPassword" class="form-label">
                    Current password
                </label>

                <input
                    type="password"
                    id="oldPassword"
                    class="form-control"
                >

            </div>


            <div class="mb-3">

                <label for="newPassword" class="form-label">
                    New password
                </label>

                <input
                    type="password"
                    id="newPassword"
                    class="form-control"
                >

                <div class="form-text">
                    Password must be at least 6 characters long.
                </div>

            </div>


            <div class="mb-3">

                <label for="confirmPassword" class="form-label">
                    Confirm new password
                </label>

                <input
                    type="password"
                    id="confirmPassword"
                    class="form-control"
                >

            </div>


            <button
                type="button"
                class="btn btn-primary"
                onclick="changePassword()">

                <i class="bi bi-key"></i>
                Change password

            </button>

        </div>

    </div>

</div>

</div>
