<h3>
    <i class="bi bi-person-circle"></i>
    My Profile
</h3>

<hr>

<div class="row">


<div class="col-md-6">

    <div class="card">

        <div class="card-body">

            <h5 class="card-title">
                Account information
            </h5>

            <div class="mb-3">

                <label for="profileName" class="form-label">
                    Name
                </label>

                <input
                    type="text"
                    id="profileName"
                    class="form-control"
                >

            </div>


            <div class="mb-3">

                <label for="profileEmail" class="form-label">
                    Email
                </label>

                <input
                    type="email"
                    id="profileEmail"
                    class="form-control"
                >

            </div>


            <button
                type="button"
                class="btn btn-primary"
                onclick="updateProfile()">

                <i class="bi bi-save"></i>
                Save changes

            </button>

        </div>

    </div>

</div>


<div class="col-md-6">

    <div class="card">

        <div class="card-body">

            <h5 class="card-title">
                Account
            </h5>

            <p>
                <strong>Role:</strong>
                <span id="profileRole">-</span>
            </p>

            <p>
                <strong>User ID:</strong>
                <span id="profileID">-</span>
            </p>

        </div>

    </div>

</div>

</div>
