PORT=what are you looking for?
CONN_LIMIT=what are you looking for?
DB_HOST=what are you looking for?
DB_PORT=what are you looking for?
DB_USER=what are you looking for?
DB_PASSWORD=what are you looking for?
DB_NAME=what are you looking for?